html, body{
  height: 100%;
	width: 100%;
}

.headerUs{
	background-color: black;
	padding-top:80px;
	padding-bottom: 70px;
}

.h1-text{
	font-size: 20px;
}
.logo{
	width: 130px;
}
.link{
	color: white;
	font-size: 10px;
	padding-left: 10px;
	transition-duration: weight .5s;
}

.count{
	color: white;
	font-size: 10px;
	padding-left: 10px;
	transition-duration: weight .5s;
	float: right;
	padding-right: 10px;
}
.link:hover{
	color: white;
	font-size: 10px;
	font-weight: 500;
	padding-left: 10px;
	text-decoration: none;
}

.link-bg{
	background-color:black;
	padding-bottom: 5px;
	border: none;
	padding-top: 0px;
	margin-top: -1px;
}
/*....... Button  .....*/
.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
		transition-duration: .5s;
		border-radius: 15px;
		font-size: 11px;
		padding: 10px 3px !important;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	color: #fff !important;
	background-color: #000000 !important;
	border-color: #000000 !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: lightgrey;
    border-color:lightgrey;
}

/*....... Drop downs .....*/
.form-control{
	border-radius: 15px;
	background-color: #efefef;
	border: 0px;
	font-size: 11px;
}
.form-control::after{
	border-radius: 15px;
	background-color: #efefef;
	border: 0px;
	font-size: 11px;
	border-color: red;
}
/*...... Back to top button .....*/
#myBtn {
          display: none;
          position: fixed;
          bottom: 20px;
          right: 30px;
          z-index: 99;
          font-size: 1px;
          border: none;
          outline: none;
          background-color: black;
          color: white;
          cursor: pointer;
          padding: 10px;
          border-radius: 50%;
          transition-duration: 1s;

          -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
          -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
          }

          #myBtn:hover {
          background-color: #F2F2F2;
          color: black;
          }

/*....... Image .......*/
.productsContainer{
	padding-top: 20px;
}
.product img {
  width: 100%;
  height: 120px;
	border-radius: 15px;
	margin: 0px !important;
	padding: 0px !important;

}

/*....... Font .......*/
.nameing{
  margin-top: -50px;
  font-size: 10px !important;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: white;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
	padding-bottom: 10px;


}
.product-inner{
	font-size: 12px;
	margin-bottom: 20px;

}
.container{
	padding-top: 5%;
}
/*....... column .......*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

@media only screen and (max-width: 500px) {
  #myBtn {


            -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
            -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
            }

            .product img {
            	width: 42vw;
            	height: 27vw;
            	border-radius: 15px;
            	margin: 0px !important;
            	padding: 0px !important;

            }
}
@media only screen and (min-width: 501px) and (max-width: 768px) {



            .product img {
            	width: 100%;
            	height: 170px;
            	border-radius: 15px;
            	margin: 0px !important;
            	padding: 0px !important;

            }

}
@media only screen and (min-width: 769px) and (max-width: 992px) {



            .product img {
            	width: 160px;
            	height: 100px;
            	border-radius: 15px;
            	margin: 0px !important;
            	padding: 0px !important;

            }

}



